.details__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  .details__pokemon__name {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 15px 0 25px;
  }
}

@media screen and (max-width: 1850px) {
  .details__wrapper .details__image__progress__wrapper .details__image {
    width: 100%;
  }
}

@media screen and (max-width: 1660px) {
  .details__wrapper .details__image__progress__wrapper .details__image {
    width: 100%;
    padding: 0 50px;
  }
}

@media screen and (max-width: 1440px) {
  .details__wrapper .details__image__progress__wrapper .details__image {
    width: 100%;
    padding: 0 0;
  }
  .details__wrapper {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1168px) {
  .details__wrapper {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .details__wrapper {
    padding: 0;
  }
  .details__wrapper .details__image__progress__wrapper {
    display: block;
  }

  .details__wrapper .details__image__progress__wrapper .details__image {
    width: 100%;
  }

  .details__wrapper
    .details__image__progress__wrapper
    .details__progress__bars {
    width: 100%;
    margin-top: 15px;
  }
}
