.App {
  position: relative;
  width: 80%;
  background-color: #eee;
  border-radius: 5px;
  margin: 100px auto;
  padding: 15px;
}

.house__icon {
  position: absolute;
  top: 15px;
  left: 35px;
}

.loader__container {
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#loader {
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .App {
    width: 95%;
  }
}
