.App {
  position: relative;
  width: 95%;
  background-color: #eee;
  border-radius: 5px;
  margin: 100px auto;
  padding: 15px;
}

i.inverted.bordered.icon,
i.inverted.circular.icon,
#house__icon {
  background-color: rgb(0, 145, 255) !important;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media screen and (max-width: 650px) {
  .App {
    width: 83%;
  }
}

@media screen and (max-width: 575px) {
  .App {
    width: 95%;
  }
}
