.footer {
  display: flex;
  background-color: #1b1b1b;
  color: white;
  padding: 25px 0;
  align-items: center;
  flex-direction: column;

  p {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .socials {
    i {
      font-size: 1.8rem;
      margin-right: 15px;
      transition: all 0.2s;
    }
    i:hover {
      transform: scale(1.1);
    }
  }
}
